%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%%% node_package packaging config, cf. https://github.com/basho/node_package
{package_name, "sesame"}.
{package_install_name, "sesame"}.
{package_install_user, "sesame"}.
{package_install_group, "sesame"}.
{package_install_user_desc, "Simple ESP Security Association Manager"}.
{package_shortdesc, "A simple system intended to manage security associations for IPsec in transport mode across many machines."}.
{package_desc, "See https://github.com/emauton/sesame."}.
{package_commands, {list, [[{name, "workbench"}]]}}.
{bin_or_sbin, "sbin"}.
{license_type, "Apache 2.0"}.
{copyright, "2015 Cian Synnott <cian@emauton.org>"}.
{vendor_name, "Cian Synnott <cian@emauton.org>"}.
{vendor_url, "http://emauton.org/"}.
{vendor_contact_name, "Cian Synnott"}.
{vendor_contact_email, "cian@emauton.org"}.
